<div id="contact" class="section {{ .Class }}">
    <h2 class="section-title">
        <div class="centered-content">
            Contact
        </div>
    </h2>
    <div class="centered-content">
        {{ $url := (print "mailto:" .context.Site.Params.info.email)}}
        <!-- Email: {{ partial "styled_link.html" (dict "text" .context.Site.Params.info.email "url" $url)}} -->
        If you're interested in our future events or in collaborating, please reach out by writing to any of the organizers! We'd love to hear from you.
    </div>
</div>